<div class="flex h-screen bg-gray-100 dark:bg-gray-900">
  <app-sidebar
    [menuItems]="menuItems"
    [collapsed]="collapsed"
    (toggleCollapse)="toggleSidebar()"
  ></app-sidebar>

  <div
    class="flex-1 flex flex-col overflow-hidden"
    [class.ml-14]="!collapsed"
    [class.ml-5]="collapsed"
  >
    <app-header
      [title]="'Profile'"
      (toggleSidebar)="toggleSidebar()"
    ></app-header>

    <main class="flex-1 overflow-y-auto p-6 bg-gray-50 dark:bg-gray-800">
      <div class="w-full">
        <div>
          <h2 class="text-lg font-semibold text-gray-800 dark:text-white">
            Personal Information
          </h2>
        </div>
        <div class="mt-7 flex items-center justify-between">
          <div class="flex items-center space-x-20">
            @if(user?.profilePhoto === null){
              <div class="bg-blue-900 text-white w-28 h-28 text-2xl font-bold p-2 text-center rounded-full ml-1 content-center">
                {{user?.firstname?.charAt(0)}}
              </div>
            }@else {
              <div class="w-40 h-40 rounded-full flex items-center justify-center font-bold">
                <img
                [src]="user?.profilePhoto"
                alt="profile picture"
                width="300"
                class="rounded-full"
              />
              </div>
            }
            <div class="space-y-5">
              <div>
                <button
                  class="p-2 bg-blue-900 rounded-full w-20 text-[13px] text-white"
                >
                  Update
                </button>
              </div>
              <div>
                <button
                  class="p-2 dark:bg-gray-400 text-[13px] bg-red-800 rounded-full w-20"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
          <div class="bg-gray-900 mr-10 p-10 w-[35%] drop-shadow-2xl">
            <div class="mb-5">
              <h2 class="text-lg font-semibold text-gray-800 dark:text-white">
                Contact Information
              </h2>
            </div>
            <hr class="mb-5" />
            <div class="text-gray-50 space-y-4 text-[14px]">
              <p>
                <span class="mr-7"><fa-icon [icon]="location"></fa-icon></span>
                {{user?.address}}
              </p>
              <p>
                <span class="mr-7"><fa-icon [icon]="mail"></fa-icon></span>
                {{user?.email}}
              </p>
              <p>
                <span class="mr-7"><fa-icon [icon]="contact"></fa-icon></span>
                {{user?.contact}}
              </p>
            </div>
          </div>
        </div>
        <div class="flex w-full space-x-10 mt-5 text-[14px]">
          <div class="w-1/2 p-4 ">
            <div
              class="dark:text-gray-50 flex justify-between space-x-20 mt-10"
            >
              <div class="w-1/2 space-y-2">
                <p class="font-bold">Firstname</p>
                <p class="bg-gray-700 py-2 pl-4 rounded-3xl">{{user?.firstname}}</p>
              </div>
              <div class="w-1/2 space-y-2">
                <p class="font-bold">Lastname</p>
                <p class="bg-gray-700 py-2 pl-4 rounded-3xl">{{user?.lastname}}</p>
              </div>
            </div>
            <div
              class="dark:text-gray-50 flex justify-between space-x-20 mt-10 "
            >
              <div class="w-1/2 space-y-2">
                <p class="font-bold">Username</p>
                <p class="bg-gray-700 py-2 pl-4 rounded-3xl">{{user?.username}}</p>
              </div>
              <div class="w-1/2 space-y-2">
                <p class="font-bold">Gender</p>
                <p class="bg-gray-700 py-2 pl-4 rounded-3xl">{{user?.gender}}</p>
              </div>
            </div>
            <div
              class="dark:text-gray-50 flex justify-between space-x-20 mt-10 "
            >
              <div class="w-1/2 space-y-2">
                <p class="font-bold">Position</p>
                <p class="bg-gray-700 py-2 pl-4 rounded-3xl">
                  {{user?.jobTitle}}
                </p>
              </div>
              <div class="w-1/2 space-y-2">
                <p class="font-bold">YOE</p>
                <p class="bg-gray-700 py-2 pl-4 rounded-3xl">{{user?.years_Of_Experience}}</p>
              </div>
            </div>
            <div
              class="dark:text-gray-50 flex justify-between space-x-20 mt-10 "
            >
              <div>
                <button
                  routerLink='/candidate/update-profile/{{user?.id}}' 
                  class="p-4 bg-blue-900 rounded-full w-36 text-[13px] text-white"
                >
                  Edit Profile
                </button>
              </div>
            </div>
          </div>
          <div class=" mt-5 p-10 w-1/2 drop-shadow-2xl">
            <div class="mb-5 flex items-center space-x-10">
              <h2 class="text-lg font-semibold text-gray-800 dark:text-white">
                Skills
              </h2>
              <fa-icon [icon]='add' class=" text-gray-50 opacity-80 cursor-pointer" size="lg" (click) = 'toggleAddSkillVisibility()' ></fa-icon>
            </div>
            <hr class="mb-5"/>
            <div>
              <div *ngIf="addSkill" class="text-gray-50">
                <label for="" class="text-[17px] font-semibold mb-10">Add Skills</label>
                <div >
                  <select 
                  (change)="onSkillSelect($event)" formControlName="skills" class=" p-3 w-full bg-gray-700">
                        <option value="">-- Select Skills --</option>
                        <option *ngFor="let skill of skills" [value]="skill.skillId"> {{skill.skill}} </option>
                    </select>
                </div>
                <div *ngIf="selectedSkills.length > 0">
                  <h4 class="font-medium mt-4">Selected Skills:</h4>
                  <ul class="space-y-1 mt-2">
                    <li 
                      *ngFor="let id of selectedSkills" 
                      class="bg-gray-900 p-3 w-fit h-fit rounded-full"
                    >

                    {{ getSkillNameById(id) }}
                    <fa-icon [icon]='close' class=" text-gray-400 opacity-80 cursor-pointer ml-4" size="lg" (click) = "removeSkills(id)"></fa-icon>
                    </li>
                  </ul>
                </div>
                <button 
                  *ngIf="selectedSkills.length > 0"
                  (click)="addCandidateSkills()"
                  class="p-4 bg-blue-900 rounded-full w-36 mt-5 text-[13px] text-white"
                >
                  Add Skills
                </button>
                <hr class="my-5">
              </div>
                <div class="my-5 text-gray-50 grid grid-cols-3 grid-flow-rows gap-3 w-full text-[13px]">
                    <div *ngFor="let skill of mySkills" class="bg-gray-900 p-4 w-fit h-fit rounded-full flex items-center space-x-5">
                        <p class="">{{skill.skill}}</p>
                        <fa-icon [icon]='close' class=" text-gray-400 opacity-80 cursor-pointer" size="lg" (click) = "deleteSkill(skill.skillId)"></fa-icon>
                    </div>   
                  </div>
                  <div *ngIf="mySkills.length === 0" class=" mb-5 text-gray-50 w-full text-justify text-[15px] italic font-light">
                    <p>You haven't added your skills yet. Add your skills and move one step towards getting shortlisted.</p>
                  </div>    
                <hr>
                <div class="my-5">
                    <div>
                        <h2 class="text-lg font-semibold text-gray-800 dark:text-white">
                          My Resume
                        </h2>
                    </div>
                    <div class="my-2 w-fit">
                        <a href="https://res.cloudinary.com/dnu3li5lc/raw/upload/v1741599125/resumes/85a9516d-ec33-40b7-9361-d13224f0a46e.pdf" target="_blank">
                            <img src="./assets/pdf.png" alt="resume" class="w-20 ">
                        </a>
                    </div>
                    <div>
                        <p class="text-gray-50">Click to view resume</p>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>  
