<div class="mx-auto">
  <div class="mb-6">
    <h2 class="text-lg sm:text-xl font-semibold text-gray-800 dark:text-white">
      My Experiences
    </h2>
  </div>

  <div class="flex flex-col lg:flex-row gap-6">
    <div class="w-full lg:w-1/2 space-y-4">
      <div
        *ngFor="let experience of experiences"
        class="bg-gray-900 p-5 sm:p-7 rounded-lg shadow-lg"
      >
        <div
          class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3"
        >
          <div>
            <h3 class="text-lg sm:text-xl font-semibold text-white">
              {{ experience.jobTitle }}
            </h3>
            <p class="text-gray-300 text-sm sm:text-base">
              {{ experience.companyName }}
            </p>
          </div>
          <div class="flex gap-3 sm:gap-5">
            <fa-icon
              [icon]="edit"
              class="text-gray-300 hover:text-blue-400 cursor-pointer"
              (click)="getExperienceById(experience.experienceId)"
            >
            </fa-icon>
            <fa-icon
              [icon]="delete"
              class="text-gray-300 hover:text-red-400 cursor-pointer transition-colors"
              (click)="deleteExperiences(experience.experienceId)"
            >
            </fa-icon>
          </div>
        </div>

        <div class="mt-3">
          @if(experience.to !== null){
          <p class="text-gray-300 text-sm sm:text-base">
            {{ experience.from }} - {{ experience.to }}
          </p>
          }@else {
          <p class="text-gray-300 text-sm sm:text-base">
            {{ experience.from }} - <span class="italic">Present</span>
          </p>
          }
        </div>

        <div class="mt-4">
          <p class="text-gray-300 text-sm sm:text-base">
            {{ experience.jobDescription }}
          </p>
        </div>
      </div>
    </div>

    <div
      class="h-fit w-full lg:w-1/2 bg-gray-900 p-5 sm:p-7 rounded-lg shadow-lg"
    >
      <form
        [formGroup]="editExperience"
        (ngSubmit)="editMode ? updateExperiences() : saveExperiences()"
      >
        <div class="mb-4 sm:mb-6">
          <label class="block font-bold text-white mb-2">Job Title</label>
          <input
            type="text"
            placeholder="Enter job title"
            class="w-full p-3 text-[14px] bg-gray-700 dark:bg-gray-600 text-white rounded outline-none"
            formControlName="jobTitle"
          />
          <p *ngIf="isInvalid('jobTitle')" class="text-red-500 text-sm mt-1">
            Job title is required
          </p>
        </div>

        <div class="mb-4 sm:mb-6">
          <label class="block font-bold text-white mb-2">Company Name</label>
          <input
            type="text"
            placeholder="Enter company name"
            class="w-full p-3 text-[14px] bg-gray-700 dark:bg-gray-600 text-white rounded outline-none"
            formControlName="companyName"
          />
          <p *ngIf="isInvalid('companyName')" class="text-red-500 text-sm mt-1">
            Company name is required
          </p>
        </div>

        <div class="flex flex-col sm:flex-row gap-4 sm:gap-6 mb-4 sm:mb-6">
          <div class="w-full sm:w-1/2">
            <label class="block font-bold text-white mb-2">From</label>
            <input
              type="text"
              placeholder="YYYY-MM-DD"
              class="w-full p-3 text-[14px] bg-gray-700 dark:bg-gray-600 text-white rounded outline-none"
              formControlName="from"
            />
            <p *ngIf="isInvalid('from')" class="text-red-500 text-sm mt-1">
              Required
            </p>
          </div>
          <div class="w-full sm:w-1/2">
            <label class="block font-bold text-white mb-2">To</label>
            <input
              type="text"
              placeholder="YYYY-MM-DD or 'Present' if currently working"
              class="w-full p-3 text-[14px] bg-gray-600 text-white rounded outline-none"
              formControlName="to"
            />
            <p *ngIf="isInvalid('to')" class="text-red-500 text-sm mt-1">
              Required
            </p>
          </div>
        </div>

        <div class="mb-6">
          <label class="block font-bold text-white mb-2">Job Description</label>
          <textarea
            placeholder="Describe your responsibilities and achievements..."
            rows="5"
            class="w-full p-3 text-[14px] bg-gray-700 dark:bg-gray-600 text-white rounded outline-none"
            formControlName="jobDescription"
          ></textarea>
          <p
            *ngIf="isInvalid('jobDescription')"
            class="text-red-500 text-sm mt-1"
          >
            Job description is required
          </p>
        </div>

        <!-- Submit Button -->
        <div class="flex justify-start">
          <button
            type="submit"
            class="px-6 py-3 bg-blue-900 rounded-full text-sm text-white"
          >
            {{ editMode ? "Update Experience" : "Save Experience" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
