<div class="flex h-screen bg-gray-100 dark:bg-gray-900">
    <app-sidebar
                 [menuItems]="menuItems" 
                 [collapsed]="collapsed"
                 (toggleCollapse)="toggleSidebar()"></app-sidebar>
  
    <div class="flex-1 flex flex-col overflow-hidden" [class.ml-14]="!collapsed" [class.ml-5]="collapsed">
      <app-header [title]="'Edit Job'"
                  (toggleSidebar)="toggleSidebar()"></app-header>
  
      <main class="flex-1 overflow-y-auto p-6 bg-gray-50 dark:bg-gray-800">
        <div class=" text-gray-50">
            <div>
                <h1 class="text-2xl font-semibold">Change Job Details</h1>
            </div>
            <div class="mt-10 text-[14px]">
                <form [formGroup]="postJob" (ngSubmit)="updateJob()">
                    <div class="mb-5">
                        <label for="" class="font-bold">Job Title</label>
                        <input type="text" placeholder="Add Job title, role, vacancy, etc" class="w-full p-3 bg-gray-700 outline-none" formControlName = "jobTitle">
                    </div>  
                    <div class="mb-5">
                        <label for="" class="font-bold">Requirements</label>
                        <input type="text" placeholder="Add tags, keywords..." class="w-full p-3 bg-gray-700 outline-none" formControlName = "requirements">
                    </div>
                    <p class="font-bold my-4">Salary</p>
                    <div class="flex w-full space-x-10 mb-5">
                        <div class="w-2/4">
                            <label for="" class="font-bold">Min Salary</label>
                            <input type="text" placeholder="Minimum salary" class="w-full p-3 bg-gray-700 outline-none" formControlName = "minimumSalary">
                        </div>
                        <div class="w-2/4">
                            <label for="" class="font-bold">Max Salary</label>
                            <input type="text" placeholder="Maximum salary" class="w-full p-3 bg-gray-700 outline-none" formControlName = "maximumSalary">
                        </div>
                    </div>
                    <div class="flex w-full space-x-10">
                        <div class="w-1/2">
                            <label for="" class="font-bold">Job Type</label>
                            <select name="JobType" id="" class="w-full p-3 bg-gray-700 outline-none" formControlName = "jobType">
                                <option value="">-- Select Job Type --</option>
                                <option value="Full-Time">Full-Time</option>
                                <option value="Part-Time">Part-Time</option>
                                <option value="Contract">Contract</option>
                            </select>
                        </div>
                        <div class="w-1/2">
                            <label for="" class="font-bold">Job Level</label>
                            <select name="JobType" id="" class="w-full p-3 bg-gray-700 outline-none" formControlName = "jobLevel">
                                <option value="">-- Select Job Level --</option>
                                <option value="Junior">Junior</option>
                                <option value="Mid-Level">Mid-level</option>
                                <option value="Senior">Senior</option>
                                <option value="Junior">Associate</option>
                                <option value="Junior">Trainee</option>
                                <option value="Internship">Internship</option>
                            </select>
                        </div>
                    </div>
                    <div class="my-5">
                        <label for="" class="font-bold">Location</label>
                        <input type="text" placeholder="Enter location " class="w-full p-3 bg-gray-700 outline-none" formControlName = "location">
                    </div>
                    <div class="flex w-full my-4 space-x-10 mb-5">
                        <div class="w-1/2">
                            <label for="" class="font-bold">No. of openings</label>
                            <input type="text" placeholder="Enter no. of vacancies " class="w-full p-3 bg-gray-700 outline-none" formControlName = "no_of_Openings">
                        </div>
                        <div class="w-1/2">
                            <label for="" class="font-bold">Minimum Experience Required</label>
                            <input type="text" placeholder="Enter min experience required" class="w-full p-3 bg-gray-700 outline-none" formControlName = "min_Years_of_Experience_Required">
                        </div>
                        <div class="w-1/2">
                            <label for="" class="font-bold">Maximum Experience Required</label>
                            <input type="text" placeholder="Enter max experience required" class="w-full p-3 bg-gray-700 outline-none" formControlName = "max_Years_of_Experience_Required">
                        </div>
                    </div>
                    <div>
                        <label for="" class="font-bold">Job Description</label>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Add your description..." class="w-full p-3 bg-gray-700 outline-none" formControlName = "jobDescription"></textarea>
                    </div>
                    <div class="flex items-center space-x-5 mt-10">
                        <div>
                            <button type="submit" class="rounded-full bg-blue-900 w-36 text-[13px] p-4 font-semibold">
                                Update Job
                            </button>
                        </div>
                        <div>
                          <button class="rounded-full bg-gray-200 text-black w-36 text-[13px] p-4 font-semibold">Cancel</button>
                      </div>
                    </div>
                </form>
            </div>
          </div>
        
      </main>
    </div> 
  </div>