<div
  class="mx-auto py-10 md:my-20 2xl:my-44 w-full px-4 sm:px-6 md:w-[80%] lg:w-[60%] xl:w-[50%] pt-28 md:pt-16"
>
  <div class="text-3xl md:text-[40px] font-bold text-center md:text-left">
    <h1>Welcome to <span class="text-[#3094FF]">career dev!</span></h1>
  </div>

  <div class="mt-4 text-center md:text-left">
    <h1 class="font-light">
      Login to your account || Don't have account with us?
      <span
        class="font-bold text-[#3094FF] cursor-pointer hover:underline"
        routerLink="/signup"
        >Create one</span
      >
    </h1>
  </div>

  <!-- ------------------------------------- LOGIN FORM ------------------------------- -->
  <div class="mt-8 md:mt-12">
    <form [formGroup]="form" (submit)="login()">
      <div class="space-y-6">
        <div class="w-full">
          <label for="username" class="font-bold block mb-2">Username</label>
          <input
            type="text"
            id="username"
            placeholder="Enter your username or email"
            class="border-2 p-3 md:p-4 w-full outline-none rounded"
            formControlName="username"
          />
          <div
            *ngIf="
              form.get('username')?.touched &&
              form.get('username')?.hasError('required')
            "
            class="text-red-700 text-sm md:text-[16px] mt-1"
          >
            This field is required
          </div>
        </div>

        <div class="w-full">
          <label for="password" class="font-bold block mb-2">Password</label>
          <div class="flex items-center w-full">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              placeholder="Enter your password"
              class="w-full border-2 p-3 md:p-4 outline-none rounded-l rounded-r-none"
              formControlName="password"
            />
            <button
              type="button"
              class="bg-gray-100 border-y-2 border-r-2 p-3 md:p-4 rounded-r text-[#3094FF]"
              (click)="togglePasswordVisibility()"
            >
              <fa-icon
                [icon]="showPassword ? eye : eyeSlash"
                size="lg"
              ></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              form.get('password')?.touched &&
              form.get('password')?.hasError('required')
            "
            class="text-red-700 text-sm md:text-[16px] mt-1"
          >
            Password is required
          </div>
        </div>

        <div class="mt-8 md:mt-10 text-center md:text-left">
          <button
            type="submit"
            class="bg-[#6BA1FF] hover:bg-[#3094FF] text-white font-bold py-3 px-6 md:py-4 md:px-8 rounded-full transition-colors w-full sm:w-auto"
          >
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

 <!-- ------------------------------------ REUSABLE FOOTER COMPONENT ---------------------- -->
<app-footer></app-footer>

<router-outlet></router-outlet>
