<div class="mx-auto md:my-20 2xl:my-44 w-[50%] ">
    <div class="text-[40px] font-bold">
      <h1>Welcome to <span class="text-[#3094FF]">career dev!</span></h1>
    </div>
    <div class="mt-4">
        <h1 class=" font-light">Login to your account || Don't have account with us?
            <span class="font-bold text-[#3094FF] cursor-pointer" routerLink="/signup">Create one</span>
  
        </h1>
    </div>
    <div class="mt-12">
        <form action="">
          <div class="">
              <div class="mb-7 w-full">
                  <div>
                      <label for="" class="font-bold">Username</label>
                      <input type="text" placeholder="Enter your username" class="border-2 p-4 w-full">
                  </div>
              </div>
              
              <div class="mb-10">
                  <label for="" class="font-bold">Password</label>
                  <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password" class="border-2 p-4 w-full">
                  <div class="flex">
                      <input type="checkbox" name="password" (click)="togglePasswordVisibility()" value="Show your password">
                      <label for="password" class="ml-2">Show your password</label>
                  </div>
              </div>
    
              <div>
                <div class="bg-[#6BA1FF] p-4 w-32 mt-10 text-center font-bold text-[14px] text-white cursor-pointer rounded-full">
                    <button>Login</button>
                </div>
              </div>
            </div>
        </form>
    </div>
  </div>
  
  
<app-footer></app-footer>
  
<router-outlet></router-outlet>
