<div class="flex h-screen bg-gray-100 dark:bg-gray-900">
    <app-sidebar [menuItems]="menuItems"
      [collapsed]="collapsed"
      (toggleCollapse)="toggleSidebar()"></app-sidebar>
  
    <div
      class="flex-1 flex flex-col overflow-hidden"
      [class.ml-14]="!collapsed"
      [class.ml-5]="collapsed"
    >
      <app-header
        [title]="'Password'"
        (toggleSidebar)="toggleSidebar()"
      ></app-header>
  
      <main class="flex-1 overflow-y-auto p-6 bg-gray-50 dark:bg-gray-800">
        <div class="w-full">
          <div>
            <h2 class="text-lg font-semibold text-gray-800 dark:text-white">
              Change Password
            </h2>
          </div>
          <div
            class="text-gray-50 mt-10 text-[14px] w-1/2 mr-20 bg-gray-900 p-7 drop-shadow-2xl"
          >
            <form [formGroup]="password" (ngSubmit)="changePassword()">
              <div>
                  <div class="mb-10">
                    <label for="" class="font-bold">Current Password</label>
                    <div
                      class="flex items-center w-full shadow-2xl"
                    >
                    <div class="w-full">
                        <input
                        [type]="showCurrentPassword ? 'text' : 'password'"
                        placeholder="Enter your current password"
                        class="w-full p-3 bg-gray-700 outline-none"
                        formControlName="currentPassword"
                        />
                      </div>
                      <span class="">
                          @if(showCurrentPassword){
                              <fa-icon
                                [icon]='eye' 
                                size="lg"
                                class="text-[#3094FF] absolute top-[60px] right-12"
                                (click) = "toggleCurrentPasswordVisibility()"
                              ></fa-icon>
                          }@else {
                              <fa-icon
                                [icon]='eyeSlash'
                                size="lg"
                                class="text-[#3094FF] absolute top-[60px] right-12"
                                (click) = "toggleCurrentPasswordVisibility()"
                              ></fa-icon>
                          }
                      </span>
                    </div>
                  </div>
                  <div class="mb-6">
                    <label for="" class="font-bold">New Password</label>
                    <div
                      class="flex items-center w-full shadow-2xl"
                    >
                    <div class="w-full">
                        <input
                        [type]="showNewPassword ? 'text' : 'password'"
                        placeholder="Enter your new password"
                        class="w-full p-3 bg-gray-700 outline-none"
                        formControlName="newPassword"
                        />
                      </div>
                      <span class="">
                          @if(showNewPassword){
                              <fa-icon
                                [icon]='eye' 
                                size="lg"
                                class="text-[#3094FF] absolute top-[167px] right-12"
                                (click) = "toggleNewPasswordVisibility()"
                              ></fa-icon>
                          }@else {
                              <fa-icon
                                [icon]='eyeSlash'
                                size="lg"
                                class="text-[#3094FF] absolute top-[167px] right-12"
                                (click) = "toggleNewPasswordVisibility()"
                              ></fa-icon>
                          }
                      </span>
                    </div>
                  </div>
              </div>
              <div class="mt-10">
                <button type="submit"
                  class="p-4 bg-blue-900 rounded-full w-fit text-[13px] text-white"
                >
                  Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
  