<div class="home text-center pt-[15%]">
    <div class=" ml-[48%] mb-5">
        
    </div>
    <div class="mb-6">
        <h1 class=" text-[2.5rem] font-bold">Oops, page not found!</h1>
    </div>
    <div class="mb-6">
        <p>The page you're looking for doesn't exist or has been removed by admin.</p>
    </div>
    <div class="bg-[#6BA1FF] text-[14px] text-white border-none p-2 mt-10 w-40 mx-auto text-center rounded-full cursor-pointer" routerLink="/">
        <button>Back to homepage</button>
    </div>
</div>
