<div class="w-full">
  <div class="h-16 bg-gray-200">
    <div class="w-[90%] md:w-[80%] mx-auto flex justify-between items-center py-5">
      <div class="ml-2">
        <p class="font-bold text-[13px] md:text-lg">Job Details</p>
      </div>
      <div class="mr-7 text-[14px]">
        <p class="text-[13px] md:text-lg">Home / Browse Jobs / <span class="font-bold">Job Details</span></p>
      </div>
    </div>
  </div>

  <div class="w-[80%] hidden md:block mx-auto drop-shadow-2xl my-14">
    <img
      src="../assets/teams.jpg"
      alt="teams"
      class="rounded-lg bg-slate-200 mx-auto opacity-60"
    />
  </div>

  <div class="w-[90%] md:w-[80%] mx-auto">
    <div
      *ngIf="job"
      class="flex items-center justify-between my-10"
    >
      <div class="">
        <h1 class="text-2xl md:text-3xl font-bold text-blue-900 uppercase">
          {{ job.jobTitle }}
        </h1>
        <div class="flex space-x-10 font-extralight text-[14px]">
          <p>{{ job.jobType }}</p>
          <p>{{ job.no_of_Openings }} Vacancies</p>
        </div>
      </div>
      @if (job.isActive == true) {
        <div
          class=" space-x-8 relative text-[14px] lg:left-2 h-10  cursor-pointer"
        >
            <div class="hidden md:block">
              <button class="cursor-pointer bg-[#6BA1FF] text-white p-3 md:w-36 w-72 rounded-full" (click)="jobApply(job.id)">
                Apply now
              </button>
          </div>
        </div>
        }@else {
          <div
          class=" flex space-x-6 relative text-[14px] lg:left-2 h-10 cursor-not-allowed"
        >
          <div>
            </div>
            <div>
              <button class="cursor-not-allowed opacity-60 bg-[#6BA1FF] text-white p-3 md:w-36 w-72 rounded-full" disabled>
                Apply now
              </button>
          </div>
        </div>
        }
    </div>

    <hr />

    <div *ngIf="job" class="my-10 md:flex md:items-start space-x-20">
      <div class="my-10 w-full">
        <div class="border border-gray-300 rounded-xl px-5 py-3 md:px-10 md:py-5">
          <div class="my-5">
            <h2 class="text-2xl font-bold text-blue-900">Job Information</h2>
          </div>
          <hr />
          <div class="md:text-[17px] text-sm ">
            <div class="md:flex md:justify-between mt-5">
              <div class="space-y-5">
                <p>
                  Job Type: <span>{{ job.jobType }}</span>
                </p>
                <p>
                  Job Level: <span>{{ job.jobLevel }}</span>
                </p>
                <p>
                  No. of openings: <span>{{ job.no_of_Openings }}</span>
                </p>
                <p>
                  Salary:
                  <span>Nrs. {{ job.minimumSalary }} to {{ job.maximumSalary }}</span>
                </p>
              </div>
              <div class="space-y-5">
                <p *ngIf="job.max_Years_of_Experience_Required === 0">
                  <span
                    >Experience required:
                  </span>
                  Freshers
                </p>
                <p *ngIf="job.max_Years_of_Experience_Required > 0">
                 <span
                   >Experience required:
                 </span>
                 {{ job.min_Years_of_Experience_Required }} to {{job.max_Years_of_Experience_Required}} years
               </p>
                <p>Location: Pulchowk, Lalitpur</p>
                @if (job.isActive == true) {
                <p>Status: <span class="text-green-600">Active</span></p>
                }@else{
                <p>Status: <span class="text-red-600">Closed </span></p>
                }
              </div>
            </div>
          </div>
        </div>
        <div
          class="my-10 border border-gray-300 rounded-xl px-10 py-5 space-y-4"
        >
          <h2 class="text-2xl font-bold text-blue-900">Description</h2>
          <hr />
          <p class="text-justify leading-8">{{ job.jobDescription }}</p>
        </div>
        <div
          class="my-10 border border-gray-300 rounded-xl px-10 py-5 space-y-4"
        >
          <h2 class="text-2xl font-bold text-blue-900">Requirements</h2>
          <hr />
          <p class="text-justify leading-8">{{ job.requirements }}</p>
        </div>
        <div class="my-10">
          @if (job.isActive == true) {
          <div
            class=" flex space-x-6 relative text-[14px] lg:left-2 h-10 cursor-pointer"
          >
            <div>
              <button class="cursor-pointer bg-[#6BA1FF] text-white p-3 md:w-36 w-72 rounded-full" (click)="jobApply(job.id)">
                Apply now
              </button>
            </div>
            <div>
              <button class="cursor-pointer bg-gray-100  p-3 md:w-36 w-72 rounded-full" (click) = "saveJob(job.id)" >
                Save Job
              </button>
            </div>
          </div>
          }@else {
            <div
            class=" flex space-x-6 relative text-[14px] lg:left-2 h-10 cursor-not-allowed"
          >
            <div>
              <button class="cursor-not-allowed opacity-60 bg-[#6BA1FF] text-white p-3 md:w-36 w-72 rounded-full" disabled>
                Apply now
              </button>
            </div>
            <div>
              <button class=" bg-gray-100 opacity-60  p-3 md:w-36 w-72 cursor-not-allowed rounded-full" disabled>
                Save Job
              </button>
            </div>
          </div>
          }
        </div>
      </div>
      <div *ngIf="user"
        class="w-[30%] my-10 border border-gray-300 rounded-xl px-10 py-5 space-y-5"
      >
        <div>
          <h2 class="text-2xl font-bold text-blue-900 text-center">Employer</h2>
          <hr class="my-5" />
          <img
            [src]="user.profilePhoto"
            alt=""
            class="rounded-full size-40 object-cover "
          />
          <p class="font-bold text-blue-900 text-[20px] mt-5">{{user.firstname}} {{user.lastname}} </p>
        </div>
        <div class="space-y-7">
          <p>Position: {{user.jobTitle}}</p>
          <p>Years of experience: {{user.years_Of_Experience}} years</p>
          <p>Contact: {{user.contact}}</p>
          <p>Email: {{user.email}}</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
