<div class="flex h-screen bg-gray-100 dark:bg-gray-900">
    <app-sidebar [user]="user" 
                 [menuItems]="menuItems" 
                 [collapsed]="collapsed"
                 (toggleCollapse)="toggleSidebar()"
                 (logout)="logout()"></app-sidebar>
  
    <div class="flex-1 flex flex-col overflow-hidden" [class.ml-14]="!collapsed" [class.ml-5]="collapsed">
      <app-header [title]="'Academics'"
                  (toggleSidebar)="toggleSidebar()"></app-header>
  
      <main class="flex-1 overflow-y-auto p-6 bg-gray-50 dark:bg-gray-800">
        <div class="w-full">
            <div> 
                <h2 class="text-lg font-semibold text-gray-800 dark:text-white">My Academics</h2>
            </div>
        </div>
        
      </main>
    </div> 
  </div>