<div
  *ngIf="showNavbar"
  class=" md:h-20 bg-gradient-to-r from-[#5FA8F5] via-[#3094FF] to-blue-600 ...  md:content-center"
>
  <div class="md:w-[80%] md:p-0 lg:p-0 p-4 md:flex md:items-center md:justify-between md:mx-auto">
    <div>
      <img
        src="./assets/logo.png"
        alt="logo"
        height="70"
        class="cursor-pointer sm:w-52 m-0 md:w-64 w-52"
        routerLink=""
      />
    </div>

    <div class="absolute right-10 top-6 ">
      <button class="lg:hidden md:hidden text-white" (click)="toggleMenu()">
        <span class="text-3xl">
          {{!isMenuOpen ? '&#9776;' : '&times;'}}
          </span>
      </button>
    </div>
    <div>
      <nav [ngClass]="{'block': isMenuOpen, 'hidden' : !isMenuOpen}" class="navbar md:block text-center transition md:text-[14px] text-white text-[15px] " >
        <hr class="md:hidden lg:hidden mt-4">
        <ul class="md:flex md:m-3">
          <li
            class="md:mr-14 my-4 cursor-pointer"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </li>
          <hr class="md:hidden lg:hidden mt-4 w-32 mx-auto ">
          <li
            class="md:mr-14 my-4 cursor-pointer"
            routerLink="/about-us"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            About
          </li>
          <hr class="md:hidden lg:hidden mt-4 w-32 mx-auto">
          <li
            class="md:mr-14 my-4 cursor-pointer"
            routerLink="/login"
            
          >
            Browse Jobs
          </li>
          <hr class="md:hidden lg:hidden mt-4 w-32 mx-auto">
          <li
            class="md:mr-14 my-4 cursor-pointer"
            routerLink="/login"
          >
            Post Job
          </li>
          <hr class="md:hidden lg:hidden mt-4 m-4">
        </ul>
      </nav>
    </div>
    <div [ngClass]="{'block': isMenuOpen, 'hidden' : !isMenuOpen}" class="md:flex md:items-center md:justify-center  md:space-x-4 flex space-x-10 justify-center" >
      <div
        class="bg-[#6BA1FF] text-white
        border-none md:p-2 md:w-28 w-[20%] p-2 text-[13px] text-center rounded-full cursor-pointer drop-shadow-xl hover:drop-shadow-none transition-all"
        routerLink="/login"
      >
        <button>Login</button>
      </div>
      <div
        class="bg-[#6BA1FF] text-white
        border-[] md:p-2 md:w-28 w-[25%] p-2 text-[13px] text-center rounded-full drop-shadow-xl hover:drop-shadow-none transition-all"
        routerLink="/signup"
      >
        <button>Sign up</button>
      </div>
    </div>
    <!-- <div class="m-3 p-2 bg-[#6BA1FF] hover:bg-transparent rounded-full flex items-center justify-center space-x-2 transition-all cursor-pointer">
      <div class="w-10 h-8 rounded-full flex items-center justify-center font-bold">
        <img
        src="https://res.cloudinary.com/dnu3li5lc/image/upload/v1741777596/vyuqokraj8bvlcfh5vsx.jpg"
        alt="profile picture"
        width="200"
        class="rounded-full"
      />
      </div>
      <div>
        <p class="font-semibold text-white text-[14px]">Shristi Sharma</p>
      </div>
    </div> -->
  </div>
</div>

<router-outlet></router-outlet>


<!-- [ngClass]="{'block': isMenuOpen, 'hidden' : !isMenuOpen}" -->