<div
  *ngIf="showNavbar"
  class=" md:h-20 bg-gradient-to-r from-[#5FA8F5] via-[#3094FF] to-blue-600 ...  md:content-center" >
  <div class="md:w-[80%] md:p-0 lg:p-0 p-4 md:flex md:items-center md:justify-between md:mx-auto">
    <div>
      <img
        src="./assets/logo.png"
        alt="logo"
        height="70"
        class="cursor-pointer sm:w-52 m-0 md:w-64 w-52"
        routerLink=""
      />
    </div>

    <div class="absolute right-10 top-6 ">
      <button class="lg:hidden md:hidden text-white" (click)="toggleMenu()">
        <span class="text-3xl">
          {{!isMenuOpen ? '&#9776;' : '&times;'}}
          </span>
      </button>
    </div>
    <div>
      <nav [ngClass]="{'block': isMenuOpen, 'hidden' : !isMenuOpen}" class="navbar md:block text-center transition md:text-[14px] text-white text-[15px] " >
        <hr class="md:hidden lg:hidden mt-4">
        <ul class="md:flex md:m-3">
          <li
            class="md:mr-14 my-4 cursor-pointer"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </li>
          <hr class="md:hidden lg:hidden mt-4 w-32 mx-auto ">
          <li
            class="md:mr-14 my-4 cursor-pointer"
            routerLink="/about-us"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            About
          </li>
          <hr class="md:hidden lg:hidden mt-4 w-32 mx-auto">
          @if( isLoggedIn()){
            <li
            *ngIf="userModel?.roles?.includes('CANDIDATE')"
            class="md:mr-14 my-4 cursor-pointer"
            routerLink="/browsejobs" 
          >
            Browse Jobs
          </li>
          }@else {
            <li
            class="md:mr-14 my-4 cursor-pointer"
            routerLink="/login"
          >
            Browse Jobs
          </li>
          }
          <hr class="md:hidden lg:hidden mt-4 w-32 mx-auto">
          @if(isLoggedIn()){
            <li
            *ngIf="userModel?.roles?.includes('EMPLOYER')"
              class="md:mr-14 my-4 cursor-pointer"
              routerLink="/postjobs"
            >
              Post Job
            </li>
          }@else {
            <li
              class="md:mr-14 my-4 cursor-pointer"
              routerLink="/login"
            >
              Post Job
            </li>
          }
          <hr class="md:hidden lg:hidden mt-4 m-4">
        </ul>
      </nav>
    </div>
    @if(!isLoggedIn()){
      <div [ngClass]="{'block': isMenuOpen, 'hidden' : !isMenuOpen}" class="md:flex md:items-center md:justify-center  md:space-x-4 flex space-x-10 justify-center" >
        <div
          class="bg-[#6BA1FF] text-white
          border-none md:p-2 md:w-28 w-[20%] p-2 text-[13px] text-center rounded-full cursor-pointer drop-shadow-xl hover:drop-shadow-none transition-all"
          routerLink="/login"
        >
          <button>Login</button>
        </div>
        <div
          class="bg-[#6BA1FF] text-white
          md:p-2 md:w-28 w-[25%] p-2 text-[13px] text-center rounded-full drop-shadow-xl hover:drop-shadow-none transition-all"
          routerLink="/signup"
        >
          <button>Sign up</button>
        </div>
      </div>
    }@else{
      <div *ngIf="userModel" class="m-3 p-2 bg-[#6BA1FF] rounded-full flex items-center justify-center space-x-2 transition-all cursor-pointer" 
      [routerLink]="
      userModel?.roles?.includes('CANDIDATE') ? '/candidate' : 
      userModel?.roles?.includes('EMPLOYER') ? '/employer' : 
      '/admin'
    "
      >
      @if(userModel.profilePhoto === null){
        <div class="bg-blue-900 text-white font-bold p-2 w-10 text-center rounded-full ml-1">
          {{userModel.firstname.charAt(0)}}
        </div>
      }@else {
        <div class="w-10 h-8 rounded-full flex items-center justify-center font-bold">
          <img
          [src]="userModel.profilePhoto"
          alt="profile picture"
          width="200"
          class="rounded-full"
        />
        </div>
      }
        <div>
          <p class="font-semibold text-white text-[14px]"> {{userModel.firstname}} {{userModel.lastname}}</p>
        </div>

        <div class="ml-6 p-2" (click) = "logout()">
          <fa-icon [icon]="signout" size="lg" class="text-white"></fa-icon>
        </div>

      </div>
    }
  </div>
</div>

<router-outlet></router-outlet>
