<div *ngIf="showNavbar" class="bg-gradient-to-r from-[#5FA8F5] via-[#3094FF] to-blue-600 h-20 fixed top-0 w-full z-50 ">
  <div class="w-[90%] md:w-[80%] p-0 mx-auto h-full flex items-center justify-between relative">
    <!-- Logo -->
    <img
      src="./assets/logo.png"
      alt="logo"
      height="70"
      class="cursor-pointer w-44 md:w-64"
      routerLink=""
    />

    <div class="hidden md:flex items-center h-full">
      <nav class="text-white text-[14px] h-full flex items-center">
        <ul class="flex m-3 h-full items-center">
          <li
            class="mr-14 flex items-center cursor-pointer"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </li>
          <li
            class="mr-14 flex items-center cursor-pointer"
            routerLink="/about-us"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            About
          </li>
          @if(isLoggedIn()) {
            <li
              *ngIf="userModel?.roles?.includes('CANDIDATE')"
              class="mr-14 flex items-center cursor-pointer"
              routerLink="/browsejobs" 
            >
              Browse Jobs
            </li>
          } @else {
            <li
              class="mr-14 flex items-center cursor-pointer"
              routerLink="/login"
            >
              Browse Jobs
            </li>
          }
          @if(isLoggedIn()) {
            <li
              *ngIf="userModel?.roles?.includes('EMPLOYER')"
              class="mr-14 flex items-center cursor-pointer"
              routerLink="/postjobs"
            >
              Post Job
            </li>
          } @else {
            <li
              class="mr-14 flex items-center cursor-pointer"
              routerLink="/login"
            >
              Post Job
            </li>
          }
        </ul>
      </nav>

      @if(!isLoggedIn()) {
        <div class="flex items-center space-x-4">
          <button
            class="bg-[#6BA1FF] text-white p-2 w-28 text-[13px] rounded-full drop-shadow-xl hover:drop-shadow-none transition-all"
            routerLink="/login"
          >
            Login
          </button>
          <button
            class="bg-[#6BA1FF] text-white p-2 w-28 text-[13px] rounded-full drop-shadow-xl hover:drop-shadow-none transition-all"
            routerLink="/signup"
          >
            Sign up
          </button>
        </div>
      } @else {
        <div 
          *ngIf="userModel" 
          class="m-3 p-2 bg-[#6BA1FF] rounded-full flex items-center justify-center space-x-2 transition-all cursor-pointer"
          [routerLink]="
            userModel.roles.includes('CANDIDATE') ? '/candidate' : 
            userModel.roles.includes('EMPLOYER') ? '/employer' : 
            '/admin'
          "
        > 
          @if(userModel.profilePhoto === null) {
            <div class="bg-blue-900 text-white font-bold p-2 w-10 text-center rounded-full ml-1">
              {{userModel.firstname.charAt(0)}}
            </div>
          } @else {
            <div class="w-10 h-8 rounded-full flex items-center justify-center font-bold">
              <img
                [src]="userModel.profilePhoto"
                alt="profile picture"
                width="200"
                class="rounded-full"
              />
            </div>
          }
          <div>
            <p class="font-semibold text-white text-[14px]"> {{userModel.firstname}} {{userModel.lastname}}</p>
          </div>
          <div class="ml-6 p-2" (click)="logout()">
            <fa-icon [icon]="signout" size="lg" class="text-white"></fa-icon>
          </div>
        </div>
      }
    </div>

    <button 
      class="md:hidden text-white text-3xl absolute right-4 top-1/2 transform -translate-y-1/2"
      (click)="toggleMenu()"
      aria-label="Toggle menu"
    >
      {{!isMenuOpen ? '&#9776;' : '&times;'}}
    </button>
  </div>

  <div 
    *ngIf="isMenuOpen"
    class="md:hidden fixed inset-0 bg-black bg-opacity-50 z-40 mt-20"
    (click)="toggleMenu()"
  ></div>

  <div 
    [ngClass]="{
      'fixed top-20 left-0 right-0 bg-gradient-to-r from-[#5FA8F5] via-[#3094FF] to-blue-600 z-50 py-4 px-6 shadow-lg': isMenuOpen,
      'hidden': !isMenuOpen
    }"
  >
    <nav class="text-white text-[15px]">
      <ul class="space-y-4">
        <li
          class="cursor-pointer my-2"
          routerLink=""
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="isMenuOpen = false"
        >
          Home
        </li>
        <li
          class="cursor-pointer my-2"
          routerLink="/about-us"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="isMenuOpen = false"
        >
          About
        </li>
        @if(isLoggedIn()) {
          <li
            *ngIf="userModel?.roles?.includes('CANDIDATE')"
            class="cursor-pointer my-2"
            routerLink="/browsejobs"
            (click)="isMenuOpen = false"
          >
            Browse Jobs
          </li>
        } @else {
          <li
            class="cursor-pointer my-2"
            routerLink="/login"
            (click)="isMenuOpen = false"
          >
            Browse Jobs
          </li>
        }
        @if(isLoggedIn()) {
          <li
            *ngIf="userModel?.roles?.includes('EMPLOYER')"
            class="cursor-pointer my-2"
            routerLink="/postjobs"
            (click)="isMenuOpen = false"
          >
            Post Job
          </li>
        } @else {
          <li
            class="cursor-pointer my-2"
            routerLink="/login"
            (click)="isMenuOpen = false"
          >
            Post Job
          </li>
        }
      </ul>
    </nav>

    <div class="mt-6 flex flex-col space-y-4">
      @if(!isLoggedIn()) {
        <button
          class="bg-[#6BA1FF] text-white p-2 w-full text-[13px] rounded-full drop-shadow-xl hover:drop-shadow-none transition-all"
          routerLink="/login"
          (click)="isMenuOpen = false"
        >
          Login
        </button>
        <button
          class="bg-[#6BA1FF] text-white p-2 w-full text-[13px] rounded-full drop-shadow-xl hover:drop-shadow-none transition-all"
          routerLink="/signup"
          (click)="isMenuOpen = false"
        >
          Sign up
        </button>
      } @else {
        <div 
          *ngIf="userModel" 
          class="p-2 bg-[#6BA1FF] rounded-full flex items-center justify-between transition-all cursor-pointer"
          [routerLink]="
            userModel.roles.includes('CANDIDATE') ? '/candidate' : 
            userModel.roles.includes('EMPLOYER') ? '/employer' : 
            '/admin'
          "
          (click)="isMenuOpen = false"
        > 
          <div class="flex items-center space-x-2">
            @if(userModel.profilePhoto === null) {
              <div class="bg-blue-900 text-white font-bold p-2 w-10 text-center rounded-full">
                {{userModel.firstname.charAt(0)}}
              </div>
            } @else {
              <div class="w-10 h-8 rounded-full flex items-center justify-center font-bold">
                <img
                  [src]="userModel.profilePhoto"
                  alt="profile picture"
                  width="200"
                  class="rounded-full"
                />
              </div>
            }
            <p class="font-semibold text-white text-[14px]"> {{userModel.firstname}} {{userModel.lastname}}</p>
          </div>
          <div class="p-2" (click)="logout()">
            <fa-icon [icon]="signout" size="lg" class="text-white"></fa-icon>
          </div>
        </div>
      }
    </div>
  </div>
</div>


<router-outlet></router-outlet>
