<div class="text-center md:pt-[10%] pt-[40%]">
    <div class="ml-[48%] mb-5">
        
    </div>
    <div class="w-[10%] mx-auto">
        <img src="../../../../assets/unauthorized.png" alt="">
    </div>
    <div class="my-6">
        <h1 class=" text-[2.5rem] font-bold">401</h1>
    </div>
    <div class="mb-6">
        <p class="text-[20px] font-semibold">You are not authorized to access this page</p>
    </div>
    <div class=" text-[14px] border-none mx-auto text-center">
        <button class=" bg-[#6BA1FF] p-2 w-48 text-white cursor-pointer rounded-full" routerLink="/">Back to homepage</button>
    </div>
</div>

