<div class="flex h-screen bg-gray-100 dark:bg-gray-900">
    <app-sidebar [user]="user" 
                 [menuItems]="menuItems" 
                 [collapsed]="collapsed"
                 (toggleCollapse)="toggleSidebar()"
                 (logout)="logout()"></app-sidebar>
  
    <div class="flex-1 flex flex-col overflow-hidden" [class.ml-14]="!collapsed" [class.ml-5]="collapsed">
      <app-header [title]="'Job Applications'"
                  (toggleSidebar)="toggleSidebar()"></app-header>
  
      <main class="flex-1 overflow-y-auto p-6 bg-gray-50 dark:bg-gray-800">
        <div class="w-full">
            <div class=" text-gray-50">
              <div
                *ngFor="let job of job"
                class="flex items-center justify-between my-5"
              >
                <div class="">
                  <h1 class="text-3xl font-bold text-gray-50 uppercase">
                    {{ job.jobTitle }}
                  </h1>
                  <div class="flex space-x-10 font-extralight text-[14px]">
                    <p>{{ job.jobType }}</p>
                    <p>{{ job.openings }} Vacancies</p>
                  </div>
                </div>
              </div>
          
              <hr />
          
              <div *ngFor="let job of job" class="my-5 flex items-start space-x-20">
                <div class="my-5 w-[70%]">
                  <div class="bg-gray-900 rounded-xl px-10 py-5">
                    <div class="my-5">
                      <h2 class="text-2xl font-bold text-gray-50">Job Information</h2>
                    </div>
                    <hr />
                    <div>
                      <div class="flex justify-between mt-5">
                        <div class="space-y-5">
                          <p>
                            Job Type: <span>{{ job.jobType }}</span>
                          </p>
                          <p>
                            Job Level: <span>{{ job.jobLevel }}</span>
                          </p>
                          <p>
                            No. of openings: <span>{{ job.openings }}</span>
                          </p>
                          <p>
                            Salary:
                            <span>Nrs. {{ job.minSalary }} to {{ job.maxSalary }}</span>
                          </p>
                        </div>
                        <div class="space-y-5">
                          <p>
                            Experience required: {{ job.minExp }} to
                            {{ job.maxExp }} years
                          </p>
                          <p>Location: Pulchowk, Lalitpur</p>
                          @if (job.isActive == true) {
                          <p>Status: <span class="text-green-600">Active</span></p>
                          }@else{
                          <p>Status: <span class="text-red-600">Closed </span></p>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="my-10 bg-gray-900 rounded-xl px-10 py-5 space-y-4"
                  >
                    <h2 class="text-2xl font-bold text-gray-50">Description</h2>
                    <hr />
                    <p class="text-justify leading-8">{{ job.jobDescription }}</p>
                  </div>
                  <div
                    class="mt-10 bg-gray-900 rounded-xl px-10 py-5 space-y-4"
                  >
                    <h2 class="text-2xl font-bold text-gray-50">Requirements</h2>
                    <hr />
                    <p class="text-justify leading-8">{{ job.requirements }}</p>
                  </div>
                </div>
            </div>
            <div class="overflow-x-auto mb-10">
              <div> 
                <h2 class="text-lg font-semibold text-gray-800 dark:text-white mb-5 uppercase">Applications</h2>
            </div>
                <table
                  class="min-w-full divide-y divide-gray-200 dark:divide-gray-600"
                >
                  <thead class="bg-gray-50 dark:bg-gray-600">
                    <tr>
                      <!-- <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider"
                      >
                        JobId
                      </th> -->
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider"
                      >
                        Status
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider"
                      >
                        Candidate Name
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider"
                      >
                        Position
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider"
                      >
                        YOE
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider"
                      >
                        Address
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider"
                      >
                        Email
                      </th>
                      <th
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider"
                      >
                        
                      </th>
                    </tr>
                  </thead>
                  <tbody
                    class="bg-white dark:bg-gray-700 divide-y divide-gray-200 dark:divide-gray-600 cursor-pointer"
                  >
                    <tr
                      *ngFor="let candidate of candidates"
                      class="hover:bg-gray-50 dark:hover:bg-gray-600"
                    >
                      <td
                        class="px-6 py-4 whitespace-nowrap text-[10px] font-medium text-gray-800 dark:text-white"
                      >
                      @if(candidate.status === 'Pending'){
                        <span class="bg-yellow-100 p-2 text-gray-900 rounded-full">{{candidate.status}}</span>
                      }@else if(candidate.status === 'Shortlisted'){
                        <span class="bg-green-200 p-2 text-gray-900 rounded-full">{{candidate.status}}</span>
                      }@else {
                        <span class="bg-red-200 p-2 text-gray-900 rounded-full">{{candidate.status}}</span>
                      }     
                      </td>
                      <td
                        class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-white"
                      >
                        {{ candidate.name}}
                      </td>
                      <td
                      class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-white"
                    >
                      {{ candidate.position }}
                    </td>
                      
                    <td
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-white"
                  >
                    {{ candidate.yoe }}
                  </td>
                  <td
                        class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-white"
                      >
                        {{ candidate.address}}
                      </td>
                      <td
                        class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-white"
                      >
                        {{ candidate.email }}
                      </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-gray-500 dark:text-gray-300 space-x-4"
                    >
                      <button class="p-4 bg-blue-900 rounded-full w-fit text-[12px]" routerLink="/employer/candidate-profile">View Profile</button>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        </div>
      </main>
    </div> 
  </div>