<div>
    <div class="h-16 bg-gray-200">
      <div class="w-[80%] mx-auto flex justify-between items-center py-5">
        <div class="ml-2">
          <p class="font-bold">Searched jobs</p>
        </div>
        <div class="mr-7">
          <p>Home / <span class="font-bold"> Search jobs</span></p>
        </div>
      </div>
    </div>
  
    <div>
      <!--SEARCHED JOBS SECTION -->
       <div class="w-[70%] mx-auto">
         <div *ngIf="searchedJobs.length > 0; else noResults">
            <div *ngFor="let job of searchedJobs" class="border border-gray-100 shadow-2xl p-8 my-20 space-y-3"> 
                <div class="flex items-center space-x-4">
                  <div>
                    <fa-icon [icon]="user" size="xl"></fa-icon>
                  </div>
                  <div>
                    <h1 class="text-[23px] font-bold text-[#3094FF]">
                      {{ job.jobTitle }}
                    </h1>
                    <p>{{ job.postedBy }}</p>
                  </div>
                </div>
                <hr />
                <div class="flex justify-between">
                  <div class="space-y-2 ml-8 text-justify">
                    <p>
                      <span class="font-bold text-[#2f4f70]">JobType: </span
                      >{{ job.jobType }}
                    </p>
                    <p>
                      <span class="font-bold text-[#2f4f70]">JobLevel: </span
                      >{{ job.jobLevel }}
                    </p>
                    <p *ngIf="job.max_Years_of_Experience_Required === 0">
                      <span class="font-bold text-[#2f4f70]"
                        >Experience required:
                      </span>
                      Freshers
                    </p>
                    <p *ngIf="job.max_Years_of_Experience_Required > 0">
                     <span class="font-bold text-[#2f4f70]"
                       >Experience required:
                     </span>
                     {{ job.min_Years_of_Experience_Required }} to {{job.max_Years_of_Experience_Required}} years
                   </p>
                    <p>
                      <span class="font-bold text-[#2f4f70]">No. of openings: </span>
                      {{ job.no_of_Openings }}
                    </p>
                    <p>
                      <span class="font-bold text-[#2f4f70]">Location: </span
                      >{{ job.location }}
                    </p>
                  </div>
                  <div class="content-end space-y-5">
                    <div
                      class="bg-gray-200  relative text-[14px] lg:left-2 h-10 rounded-full" routerLink="/viewjob/{{job.id}}"
                    >
                      <button class="p-2 md:w-36 w-72 text-center cursor-pointer">View Job</button>
                    </div>
                    <div
                      class="bg-[#6BA1FF] text-white p-2 md:w-36 w-72 text-center relative text-[14px] lg:left-2 h-10 rounded-full cursor-pointer"
                    >
                      <button>Apply now</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
        <ng-template #noResults>
          <p class="text-gray-500 text-center text-5xl my-60 font-semibold">No jobs found for "{{ searchQuery }}"</p>
        </ng-template>
       </div>
      </div>
  </div>
  
  <app-footer></app-footer>
  