<div *ngIf="user" class="flex h-[100dvh] px-2">
    <div class="flex flex-col h-full transition-all duration-300 ease-in-out" 
         [class.w-64]="!collapsed" 
         [class.w-20]="collapsed"
         >
      
         
      <div class="p-4 flex items-center space-x-3 border-b border-blue-400" *ngIf="!collapsed">
        <div class="w-10 h-10 rounded-full bg-blue-700 flex items-center justify-center text-white font-bold">
         N
        </div>
        <div>
          <p class="text-white font-medium"> {{user?.firstname}} {{user?.lastname}} </p>
          <p class="text-blue-200 text-xs">{{user?.roles}}</p>
        </div>  
      </div>
      
      <div class="p-4 flex items-center justify-center border-b border-blue-500" *ngIf="collapsed">
        <div class="w-10 h-10 rounded-full bg-blue-700 flex items-center justify-center text-white font-bold">
          {{user?.firstname?.charAt(0)}}
        </div>
      </div>
  
      <nav class="p-4 flex-1 overflow-y-auto text-[14px]">
        <ul>
          <li *ngFor="let item of menuItems">
            <a [routerLink]="item.link" 
               class="flex items-center p-3 text-white hover:bg-blue-500 transition-colors duration-200">
              <span class="mr-3">
                <fa-icon [icon]="item.icon"></fa-icon>
              </span>
              <span *ngIf="!collapsed">{{ item.label }}</span>
            </a>
          </li>
        </ul>
      </nav>
  
      <div class="p-4 border-t border-blue-500">
        <button (click)="logout.emit()" 
        routerLink="/"
                class="w-full flex items-center p-2 text-white hover:bg-blue-500 rounded transition-colors duration-200">
          <span class="mr-3">
            <fa-icon [icon]="signout"></fa-icon>
          </span>
          <span *ngIf="!collapsed">Logout</span>
        </button>
      </div>
  
    </div>
  </div>