<div class="md:flex lg:flex h-[55vh] md:h-[90vh] 2xl:h-[60vh]">
  <div class="md:flex w-[80%] md:w-[80%] md:p-0 py-6 mx-auto">
    <div class="md:w-1/2">
      <div class="lg:w-[80%]">
        <div class="relative md:top-20 2xl:top-28">
          <h1 class="font-semibold text-[20px] md:text-3xl text-justify">
            Find a <span class="text-[#3094FF]">job that aligns</span> with your
            interests and skills
          </h1>
        </div>
        <div class="relative top-5 md:top-24 2xl:top-32">
          <p class="font-light text-justify">This is the time you commence you career and work on your goals as we bring you the tech jobs right at your device</p>
          <p
            class="italic mt-3 md:mt-5 float-end md:mr-10 font-extralight text-justify"
          >
            - A portal of hope
          </p>
        </div>
        <div
          class="flex items-center md:w-[90%] relative mt-10 top-7 md:top-28 2xl:top-40 p-3 shadow-2xl"
        >
          <span class="md:mr-5 mr-2">
            <img src="../assets/search.png" alt="" class="md:w-6 w-16" />
          </span>
          <div class="w-[65%]">
            <input
              type="text"
              placeholder="Job title, Keyword..."
              class="outline-none p-2 md:w-full"
            />
          </div>
          <div
            class="bg-[#6BA1FF] text-white p-2 md:w-32 w-72 text-center relative text-[14px] lg:left-2 h-10 rounded-full"
          >
            <button>Find Job</button>
          </div>
        </div>
        <div
          class="relative top-10 md:top-52 2xl:top-44 mt-5 w-full text-justify"
        >
          <span class="font-bold text-[#3094FF]">Suggestions: </span>
          <span class="font-light"
            >Frontend Developer,
            <span class="text-[#3094FF] font-semibold">.NET Developer</span>,
            Dotnet Developer, Backend Developer, etc</span
          >
        </div>
      </div>
    </div>
    <div class="hidden md:block md:w-1/2 md:mt-20">
      <img src="./assets/home 1.png" alt="home" />
    </div>
  </div>
</div>

<hr />
<section class="mb-7 mt-20 md:w-[80%] md:mx-auto">
  <div class="mt-10">
    <div>
      <div class="flex items-center justify-center">
        <h1 class="md:text-3xl text-[20px] mx-2 font-bold">
          Do you <span class="text-[#3094FF]">know</span> how to
        </h1>
        <fa-icon [icon]="code" size="xl" class="text-[#3094FF]"></fa-icon> 
        <p class="text-3xl font-bold ml-2">?</p>
      </div>
      <div class="text-center">
        <p class="font-light">
          Don't worry we've got all jobs that matches your skills
        </p>
      </div>
    </div>
    <div class="flex justify-evenly items-center md:mx-5 my-16">
      <div>
        <img src="./assets/dotnet.png" alt="" width="70" />
      </div>
      <div>
        <img src="./assets/angular.png" alt="" width="70" />
      </div>
      <div>
        <img src="./assets/java.png" alt="" width="70" />
      </div>
      <div>
        <img src="./assets/react.png" alt="" width="70" />
      </div>
      <div>
        <img src="./assets/database.png" alt="" width="60" />
      </div>
      <div>
        <img src="./assets/python.png" alt="" width="70" />
      </div>
      <div class="md:-ml-16">
        <p class="font-bold">& many more</p>
      </div>
    </div>
  </div>
</section>
<hr />

<section class="p-16 md:w-full">
  <div class="md:w-[80%] text-center mx-auto">
    <div>
      <h1 class="md:text-3xl text-[25px] font-bold text-center p-5 mb-12">
        How <span class="font-bold text-[#3094FF]">career dev</span> works for
        candidate?
      </h1>
    </div>
    <div class="relative hidden md:block">
      <div class="md:absolute md:top-10 md:left-[18%]">
        <img
          src="./assets/arrowright.png"
          alt=""
          width="230"
          class="-rotate-12"
        />
      </div>
      <div class="md:absolute md:top-12 md:left-[42%]">
        <img src="./assets/arrow-curve-right.png" alt="" width="230" />
      </div>
      <div class="md:absolute md:top-10 md:left-[67%]">
        <img
          src="./assets/arrowright.png"
          alt=""
          width="230"
          class="-rotate-12"
        />
      </div>
    </div>

    <div
      class="md:flex md:flex-row md:space-x-20 space-y-16 md:space-y-0 mb-5 md:p-10 items-start"
    >
      <div class="flex flex-col items-center md:w-1/4">
        <div class="p-4 rounded-full bg-[#ebf0f7]">
          <fa-icon [icon]="user" size="xl" class="text-[#3094FF]"></fa-icon> 
      </div>
        <p class="font-bold mt-8 mb-2 text-[#3094FF] text-[20px]">
          Create an account
        </p>
        <p>Register yourself first with your necessary data</p>
      </div>
      <div class="flex flex-col items-center md:w-1/4">
        <div class="p-4 rounded-full bg-[#ebf0f7]">
          <fa-icon [icon]="add" size="xl" class="text-[#3094FF]"></fa-icon> 
      </div>
        <p class="font-bold mt-8 mb-2 text-[#3094FF] text-[20px]">
          Upload CV/Resume
        </p>
        <p>
          Upload your CV or Resume for additional insights to your backgound
        </p>
      </div>
      <div class="flex flex-col items-center md:w-1/4">
        <div class="p-4 rounded-full bg-[#ebf0f7]">
          <fa-icon [icon]="search" size="xl" class="text-[#3094FF]"></fa-icon> 
      </div>
        <p class="font-bold mt-8 mb-2 text-[#3094FF] text-[20px]">Find a job</p>
        <p>Find the job that aligns with your skills</p>
      </div>
      <div class="flex flex-col items-center md:w-1/4">
        <div class="p-4 rounded-full bg-[#ebf0f7]">
          <fa-icon [icon]="check" size="xl" class="text-[#3094FF]"></fa-icon> 
      </div>
        <p class="font-bold mt-8 mb-2 text-[#3094FF] text-[20px]">Apply</p>
        <p>Apply for the jobs that you may find suitable</p>
      </div>
    </div>
  </div>
</section>
<hr>

<section class="w-full">
  <div class="sm:w-[100%] md:w-[90%] lg:w-[80%] md:mx-auto p-10">
    <h2 class="mt-10 mb-10 text-center text-3xl font-bold">
      Our <span class="text-[#3094FF]">Popular</span> Category
    </h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 md:gap-16 gap-5 m-6 text-center"
    >
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Frontend Developer
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Backend Developer
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-allv"
      >
        Full Stack Developer
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      > 
        .NET Developer
      </div>
    </div>
    <div class="grid md:grid-cols-4 md:gap-16 gap-5 m-6 text-center">
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Java Developer
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        ReactJs Developer
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Angular Developer
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Data Analysts
      </div>
    </div>
    <div class="grid md:grid-cols-4 md:gap-16 gap-5 m-6 text-center">
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Database Administrator
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Python Developer
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Application Developer
      </div>
      <div
        class="p-4 font-semibold bg-gradient-to-r from-[#5FA8F5] to-blue-500 ... text-white rounded-e-full hover:drop-shadow-xl transition-all"
      >
        Quality Assurance
      </div>
    </div>
  </div>
</section>
<hr />

<section class="p-16 w-full">
  <div class="md:w-[80%] text-center mx-auto">
    <div>
      <h1 class="md:text-3xl text-[25px] font-bold text-center p-5 md:mb-16">
        How <span class="font-bold text-[#3094FF]">career dev</span> works for
        employer?
      </h1>
    </div>
    <div class="relative hidden md:block">
      <div class="md:absolute md:-top-4 md:left-[23%]">
        <img
          src="./assets/arrowdown.png"
          alt=""
          width="100"
          class="-rotate-12"
        />
      </div>
      <div class="md:absolute md:top-36 md:left-[49%]">
        <img src="./assets/arrowup.png" alt="" width="130" class="rotate-12" />
      </div>
      <div class="md:absolute md:left-[73%]">
        <img
          src="./assets/arrowdown.png"
          alt=""
          width="100"
          class="-rotate-12"
        />
      </div>
    </div>

    <div
      class="md:flex md:flex-row md:space-x-20 mb-5 space-y-16 md:space-y-0 p-10 md:items-start"
    >
      <div
        class="mb-10 flex flex-col md:relative md:-top-20 items-center md:w-1/4"
      >
      <div class="p-4 rounded-full bg-[#ebf0f7]">
        <fa-icon [icon]="user" size="xl" class="text-[#3094FF]"></fa-icon> 
    </div>
        <p class="font-bold mt-8 mb-2 text-[#3094FF] text-[20px]">
          Create an account
        </p>
        <p>Register yourself first with your necessary data</p>
      </div>
      <div
        class="mb-10 flex flex-col md:relative md:top-20 items-center md:w-1/4"
      >
      <div class="p-4 rounded-full bg-[#ebf0f7]">
        <fa-icon [icon]="add" size="xl" class="text-[#3094FF]"></fa-icon> 
    </div>
        <p class="font-bold mt-8 mb-2 text-[#3094FF] text-[20px]">Post Job</p>
        <p>Post the job so that candidates can apply</p>
      </div>
      <div
        class="mb-10 flex flex-col md:relative md:-top-20 items-center md:w-1/4"
      >
      <div class="p-4 rounded-full bg-[#ebf0f7]">
          <fa-icon [icon]="search" size="xl" class="text-[#3094FF]"></fa-icon> 
      </div>
        <p class="font-bold mt-8 mb-2 text-[#3094FF] text-[20px]">
          Shortlist Candidates
        </p>
        <p>Shortlist the candidates who applied for your job posting</p>
      </div>
      <div class="flex flex-col md:relative md:top-20 items-center md:w-1/4">
        <div class="p-4 rounded-full bg-[#ebf0f7]">
          <fa-icon [icon]="check" size="xl" class="text-[#3094FF]"></fa-icon> 
      </div>
        <p class="font-bold mt-8 mb-2 text-[#3094FF] text-[20px]">
          Hire Candidates
        </p>
        <p>Get to know your candidates with their profile and hire them.</p>
      </div>
    </div>
  </div>
</section>

<hr>
<app-member></app-member>

<!-- ------------------------------------FOOTER SECTION--------------------------------- -->
<app-footer></app-footer>

<router-outlet></router-outlet>
