<div class="hidden sm:block text-center w-full">
  <div class="mb-6 w-[55%] pt-32 ml-[30%] relative">
      <img src="../../../../assets/waiting2.png" alt="" width="700" class="drop-shadow-2xl">
      <div class="mt-10 absolute top-[55%] left-[25%] w-[37%]">
        <p class="font-semibold text-2xl">You have not been approved by admin yet. Wait for few moments before you login. It may take a while.</p>
        <button class="bg-[#6BA1FF] p-3 w-40 mt-10 cursor-pointer rounded-full text-white text-[14px]" routerLink="/login">Back to Login</button>
      </div>
  </div>
</div>

<div class="block sm:hidden">
  <div class="pt-[70%] p-10">
    <p class="font-semibold text-justify text-xl">You have not been approved by admin yet. Wait for few moments before you login. It may take a while.</p>
    <button class="bg-[#6BA1FF] p-3 w-40 mt-10 cursor-pointer rounded-full text-white text-[13px]" routerLink="/login">Back to Login</button>
  </div>
</div>