
  
      <main class="flex-1 overflow-y-auto p-6 bg-gray-50 dark:bg-gray-800">
        <div class = "bg-gradient-to-r from-[#5FA8F5] via-[#3094FF] to-blue-600 ... text-white rounded-lg p-6 mb-6">
            <h2 class="text-2xl font-bold mb-2">
                You have not been approved by admin yet. Wait for a few moments.
            </h2>
        </div>
      </main>

      <div class="bg-[#6BA1FF] text-[14px] border-none p-2 mt-10 w-40 mx-auto text-center rounded-full cursor-pointer" routerLink="/login">
        <button>Back to login</button>
    </div>